footer {
  background-color: var(--color-ultra-dark);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-container {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}

.footer-top-left {
  ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  li {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    svg {
      fill: var(--color-red);
    }
    a {
      color: white;
      font-size: 1.2rem;
      &:hover {
        color: var(--color-red);
      }
    }
  }
}

.footer-top-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials-container {
  display: flex;
  gap: 1rem;
}

.discord-social {
  background-color: rgba(87, 37, 253, 0.5);
  padding: 1rem;
  height: 3.5rem;
  border-radius: 100%;
  &:hover {
    background-color: rgba(87, 37, 253);
  }
  svg {
    height: 1.5rem;
    fill: white;
  }
}

.twitter-social {
  background-color: rgb(37, 170, 253, 0.5);
  padding: 1rem;
  height: 3.5rem;
  border-radius: 100%;
  width: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    background-color: rgb(37, 170, 253);
  }
  svg {
    height: 1.5rem;
    fill: white;
  }
}

.instagram-social {
  background-color: rgb(252, 0, 92, 0.5);
  padding: 1rem;
  height: 3.5rem;
  border-radius: 100%;
  width: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    background-color: rgb(252, 0, 92);
  }
  svg {
    height: 1.8rem;
    fill: white;
  }
}

.facebook-social {
  background-color: rgb(0, 60, 242, 0.5);
  padding: 1rem;
  height: 3.5rem;
  border-radius: 100%;
  width: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    background-color: rgb(0, 60, 242);
  }
  svg {
    height: 1.5rem;
    fill: white;
  }
}

.youtube-social {
  background-color: rgb(255, 0, 0, 0.5);
  padding: 1rem;
  height: 3.5rem;
  border-radius: 100%;
  width: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    background-color: rgb(255, 0, 0);
  }
  svg {
    height: 1.5rem;
    fill: white;
  }
}

.twitch-social {
  background-color: rgba(168, 7, 255, 0.5);
  padding: 1rem;
  height: 3.5rem;
  border-radius: 100%;
  width: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    background-color: rgb(168, 7, 255);
  }
  svg {
    height: 2rem;
    fill: white;
  }
}
