header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: #272727;

  .logo_gcs {
    padding-left: 1rem;
    color: white;
  }

  .container_header_log_card {

    a {
      padding-right: 1rem;
      color: white;

      i {
        font-size: 1.5rem;
      }
    }
  }
}