header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: #272727;

  .logo_gcs {
    padding-left: 1rem;
    color: white;
  }

  .container_header_log_card {
    display: flex;
    justify-content: center;
    align-items: center;
    a {
      padding-right: 1rem;
      color: white;

      i {
        font-size: 1.5rem;
      }
    }
  }

  .userConnected-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
      height: 1.5rem;
      fill: white;
      &:hover {
        cursor: pointer;
        fill: var(--color-red);
      }
    }
  }
}
