.search_on {
  background-color: var(--color-red) !important;
}

.nav_container_all_plateformes {
  width: 592.97px;
  position: relative;
  gap: 2rem;
  background-color: rgba(135, 135, 135, 0.1);
  border-radius: 50px;
  display: flex;
  align-items: center;
  height: 4.2rem;
  justify-content: center;
  color: white;
  padding: 1.5rem 0rem 1.5rem 1.5rem;

  .nav_container_section {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
    color: white;
    font-weight: bold;
    font-size: 1.3rem;
    &:hover {
      color: var(--color-red);
      cursor: pointer;
    }
  }

  .nav_plateformes_search {
    border-radius: 50%;
    background: var(--color-red);
    height: inherit;
    width: 4.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &:hover > .gcs_search_nav {
      color: white !important;
      transition: 0.2s ease-in-out;
      transform: scale(1.3);
    }
  }
}

.nav_form_search {
  width: 100%;
  height: inherit;
  display: flex;
  align-items: center;
  padding: 1rem;

  .nav_input_search {
    border: none;
    outline: none;
    background: inherit;
    color: white;
    font-size: 1rem;
    font-weight: 400;
    width: 60%;
    padding-left: 0.5rem;
    font-weight: bold;
  }
  ::placeholder {
    color: white;
    font-weight: bold;
  }
}

.nav_advanced_search {
  font-size: 1.1rem;
  font-weight: bold;
  width: 40%;
}

.nav_plateformes_search_exit {
  position: absolute;
  font-size: 1.3rem;
  right: -25px;

  &:hover {
    color: var(--color-red);
    cursor: pointer;
    transform: scale(1.3);
  }
}
