.section_game_homepage {
  max-width: 1400px;
  margin: auto;
  padding: 6rem 0;

  h2 {
    color: white;
    font-size: 1.8rem;
    margin-bottom: 5rem;
  }

  .container_card_game_homepage {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 6rem;
    padding: 0 2rem;

    .card_game_item_homepage {
      max-width: 220px;
      max-height: 400px;

      h3 {
        max-width: inherit;
        font-size: 1rem;
        margin-right: 0.5rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .container_card_game_img_homepage {
        max-width: 300px;
        max-height: 450px;
        margin-bottom: 0.3rem;
        transition: all 0.2s ease-in-out;
        border-radius: 10px;
        overflow: hidden;

        img {
          width: 100%;
          object-fit: cover;
          background-position: center;
        }

        &:hover {
          transform: scale(1.05);
        }
      }

      .container_name_price_game_home {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 1.5rem;

        p {
          font-size: 1.3rem;
          font-weight: 700;
          color: var(--color-red);
        }
      }
    }
  }
}