:root {
  --color-ultra-dark: #101010;
  --color-light-dark: #323232;
  --color-light-dark-mid_opacity: rgba(245, 245, 245, 0.1);
  --color-medium-dark: #272727;
  --color-light-grey: #5b5b5b;
  --color-red: #eb1905;
  --color-white: #ffffff;
  --color-light-white: #949494;
  --color-red-hover: #b51506;
  --color-light-green: #3bff00;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  min-height: 100vh;
  background: var(--color-medium-dark);
}

:root {
  --color-ultra-dark: #101010;
  --color-light-dark: #323232;
  --color-light-dark-mid_opacity: rgba(245, 245, 245, 0.1);
  --color-medium-dark: #272727;
  --color-light-grey: #5b5b5b;
  --color-red: #eb1905;
  --color-white: #ffffff;
  --color-light-white: #949494;
  --color-red-hover: #b51506;
  --color-light-green: #3bff00;
}

.container_newGame_page {
  background: var(--color-medium-dark);
  color: var(--color-white);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container_newGame_page .container_newGame_Form .form_newGame {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 25rem;
  width: 40rem;
  border-radius: 10px;
}
.container_newGame_page .container_newGame_Form .form_newGame .error_input_not_valid {
  padding: 0.8rem;
  background: rgba(167, 0, 0, 0.2);
  border-radius: 10px;
  border: 0.5px solid var(--color-light-grey);
  color: var(--color-red);
  margin-bottom: 1rem;
  width: 20rem;
}
.container_newGame_page .container_newGame_Form .form_newGame input {
  background: var(--color-ultra-dark);
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  border-radius: 10px;
  width: 20rem;
  height: 3rem;
  color: var(--color-light-grey);
  border: none;
  font-size: 1.1rem;
}
.container_newGame_page .container_newGame_Form .form_newGame input:focus {
  outline: none;
}
.container_newGame_page .container_newGame_Form .form_newGame input::-webkit-outer-spin-button,
.container_newGame_page .container_newGame_Form .form_newGame input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.container_newGame_page .container_newGame_Form .form_newGame .container_tags_newGame {
  display: flex;
  margin: 1.5rem 0 1rem 0;
}
.container_newGame_page .container_newGame_Form .form_newGame .container_tags_newGame .container_input_checkbox_newGame {
  display: flex;
  align-items: center;
  max-width: 6rem;
}
.container_newGame_page .container_newGame_Form .form_newGame .container_tags_newGame .container_input_checkbox_newGame input {
  height: 1rem;
  width: 1rem;
  margin-right: 0.3rem;
}
.container_newGame_page .container_newGame_Form .form_newGame .container_tags_newGame .container_input_checkbox_newGame label {
  margin-right: 1.2rem;
}
.container_newGame_page .container_newGame_Form .form_newGame button {
  width: 10rem;
  background: var(--color-red);
  height: 2.5rem;
  border-radius: 10px;
  color: white;
  font-size: 1.2rem;
  border: none;
}
.container_newGame_page .container_newGame_Form .form_newGame button:hover {
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  background: var(--color-red-hover);
}

.search_on {
  background-color: var(--color-red) !important;
  display: flex;
  justify-content: space-around !important;
  align-items: center;
  width: 100%;
}

.nav_container_all_plateformes {
  width: 580px;
  position: relative;
  gap: 2rem;
  background-color: rgba(135, 135, 135, 0.1);
  border-radius: 50px;
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  height: 4.2rem;
  justify-content: center;
  color: white;
  padding: 1.5rem 0rem 1.5rem 1.5rem;
}
.nav_container_all_plateformes .nav_container_section {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
}
.nav_container_all_plateformes .nav_container_section:hover {
  color: var(--color-red);
  cursor: pointer;
}
.nav_container_all_plateformes .nav_plateformes_search {
  border-radius: 50%;
  background: var(--color-red);
  height: inherit;
  width: 4.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.nav_container_all_plateformes .nav_plateformes_search:hover > .gcs_search_nav {
  color: white !important;
  transition: 0.2s ease-in-out;
  transform: scale(1.3);
}

.nav_form_search {
  width: 100%;
  height: inherit;
  display: flex;
  align-items: center;
  padding: 1rem;
}
.nav_form_search .nav_input_search {
  border: none;
  outline: none;
  background: inherit;
  color: white;
  font-size: 1rem;
  font-weight: 400;
  font-weight: bold;
}
.nav_form_search ::placeholder {
  color: white;
  font-weight: bold;
}

.nav_advanced_search {
  font-size: 1.1rem;
  font-weight: bold;
  color: white;
}

.nav_plateformes_search_exit {
  position: absolute;
  font-size: 1.3rem;
  right: -25px;
}
.nav_plateformes_search_exit:hover {
  color: var(--color-red);
  cursor: pointer;
  transform: scale(1.3);
}

.header_home {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(0, 0, 0);
  background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 30%);
  height: 60vh;
  width: 100%;
}
.header_home .header-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 4;
  padding: 2rem 0rem 0rem 0rem;
}
.header_home .logo_gcs {
  font-weight: bold;
  font-size: 1.5rem;
  color: white;
}
.header_home .container_header_log_card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.header_home .container_header_log_card a {
  color: white;
}
.header_home .container_header_log_card a i {
  font-size: 1.5rem;
}
.header_home .container_header_log_card a i:hover {
  color: var(--color-red);
}
.header_home .userConnected-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.header_home .userConnected-menu a i {
  display: flex;
  gap: 0.5rem;
  font-size: 1.2rem;
}
.header_home .userConnected-menu svg {
  height: 1.3rem;
  fill: white;
}
.header_home .userConnected-menu svg:hover {
  cursor: pointer;
  fill: var(--color-red);
}

.header_second {
  height: 15vh;
  width: 100%;
  background-color: var(--color-ultra-dark);
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_second .header-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 4;
  padding: 2rem 0rem 0rem 0rem;
}
.header_second .logo_gcs {
  font-weight: bold;
  font-size: 1.5rem;
  color: white;
}
.header_second .container_header_log_card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.header_second .container_header_log_card a {
  color: white;
}
.header_second .container_header_log_card a i {
  font-size: 1.3rem;
}
.header_second .container_header_log_card a i:hover {
  color: var(--color-red);
}
.header_second .userConnected-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.header_second .userConnected-menu a i {
  display: flex;
  gap: 0.5rem;
}
.header_second .userConnected-menu svg {
  height: 1.3rem;
  fill: white;
}
.header_second .userConnected-menu svg:hover {
  cursor: pointer;
  fill: var(--color-red);
}

.container_topBanner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  width: 100%;
  position: relative;
}
.container_topBanner .container_img_topBanner {
  height: 100%;
  width: 100%;
  z-index: -1;
}
.container_topBanner .container_img_topBanner img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.container_topBanner .content_topBanner {
  position: absolute;
  left: 25%;
  top: 50%;
  font-size: 2rem;
  color: white;
}

:root {
  --color-ultra-dark: #101010;
  --color-light-dark: #323232;
  --color-light-dark-mid_opacity: rgba(245, 245, 245, 0.1);
  --color-medium-dark: #272727;
  --color-light-grey: #5b5b5b;
  --color-red: #eb1905;
  --color-white: #ffffff;
  --color-light-white: #949494;
  --color-red-hover: #b51506;
  --color-light-green: #3bff00;
}

.loginAndRegister-container {
  display: flex;
  height: 100vh;
}

.loginAndRegister-container-left {
  background-color: var(--color-light-dark);
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.loginAndRegister-form {
  display: flex;
  flex-direction: column;
  width: 40%;
  gap: 1.5rem;
}
.loginAndRegister-form input {
  background-color: var(--color-ultra-dark);
  border: 2px solid var(--color-medium-dark);
  border-radius: 0.5rem;
  height: 3rem;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  color: white;
}
.loginAndRegister-form input:hover {
  border-color: var(--color-red);
}
.loginAndRegister-form input:focus {
  outline: none;
  border-color: var(--color-red);
}
.loginAndRegister-form button {
  background-color: var(--color-red);
  border: none;
  border-radius: 0.5rem;
  height: 2.8rem;
  padding: 0.5rem;
  font-size: 1rem;
  color: white;
  font-weight: bold;
}
.loginAndRegister-form button:hover {
  cursor: pointer;
  background-color: var(--color-red-hover);
}

.login-registerLink {
  color: white;
}
.login-registerLink:hover {
  color: var(--color-red);
}

.loginAndRegister-container-right {
  background-image: url("../assets/wallpaper-login.jpg");
  position: relative;
  background-size: cover;
  background-position: center;
  width: 50%;
  height: 100vh;
}
.loginAndRegister-container-right svg {
  position: absolute;
  right: 3.5%;
  top: 3.5%;
  fill: white;
}
.loginAndRegister-container-right svg:hover {
  cursor: pointer;
  fill: var(--color-red);
}

.handle-email-register-error,
.handle-username-register-error,
.handle-emailAndPassword-login-error {
  font-weight: bold;
  color: rgb(241, 145, 145);
}

:root {
  --color-ultra-dark: #101010;
  --color-light-dark: #323232;
  --color-light-dark-mid_opacity: rgba(245, 245, 245, 0.1);
  --color-medium-dark: #272727;
  --color-light-grey: #5b5b5b;
  --color-red: #eb1905;
  --color-white: #ffffff;
  --color-light-white: #949494;
  --color-red-hover: #b51506;
  --color-light-green: #3bff00;
}

.profile-contentContainer {
  background-color: var(--color-medium-dark);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 7rem 0rem;
}

.profile-navbar {
  padding-bottom: 1rem;
  display: flex;
  gap: 1.5rem;
  width: 80%;
  border-bottom: 3px solid grey;
}
.profile-navbar li {
  font-size: 2rem;
  color: white;
  font-weight: bold;
  border: none;
}
.profile-navbar li:hover {
  cursor: pointer;
  color: var(--color-red);
}
.profile-navbar .active {
  color: var(--color-red);
  border-bottom: 5.5px solid var(--color-red);
}

.profile-user-information {
  padding: 3rem 0rem;
  display: flex;
  justify-content: center;
  width: 80%;
}
.profile-user-information ul {
  width: 25%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding-right: 2rem;
  border-right: 3px solid grey;
}
.profile-user-information ul li {
  display: flex;
  gap: 3rem;
  align-items: center;
}
.profile-user-information ul li:hover {
  cursor: pointer;
}
.profile-user-information ul li:hover .profileInformation-li-big {
  color: var(--color-red);
  fill: var(--color-red);
}
.profile-user-information ul li svg {
  height: 2rem;
  fill: white;
}
.profile-user-information ul li svg.active {
  fill: var(--color-red);
}
.profile-user-information ul li .profileInformation-li {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}
.profile-user-information ul li .profileInformation-li-big {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}
.profile-user-information ul li .profileInformation-li-big.active {
  color: var(--color-red);
}
.profile-user-information ul li .profileInformation-li-small {
  color: grey;
  font-weight: bold;
  font-size: 1.1rem;
  letter-spacing: 0.05rem;
}
.profile-user-information .display-userInformation {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.profile-user-information .display-userInformation .personalInformation {
  display: flex;
  width: 80%;
  gap: 3rem;
  align-items: center;
  justify-content: center;
}
.profile-user-information .display-userInformation .personalInformation .user-firstName,
.profile-user-information .display-userInformation .personalInformation .user-lastName,
.profile-user-information .display-userInformation .personalInformation .user-username,
.profile-user-information .display-userInformation .personalInformation .user-email,
.profile-user-information .display-userInformation .personalInformation .user-password {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  flex-wrap: wrap;
}
.profile-user-information .display-userInformation .personalInformation .user-firstName .static,
.profile-user-information .display-userInformation .personalInformation .user-lastName .static,
.profile-user-information .display-userInformation .personalInformation .user-username .static,
.profile-user-information .display-userInformation .personalInformation .user-email .static,
.profile-user-information .display-userInformation .personalInformation .user-password .static {
  color: white;
  font-size: 1.8rem;
  font-weight: bold;
}
.profile-user-information .display-userInformation .personalInformation .user-firstName .dynamic,
.profile-user-information .display-userInformation .personalInformation .user-lastName .dynamic,
.profile-user-information .display-userInformation .personalInformation .user-username .dynamic,
.profile-user-information .display-userInformation .personalInformation .user-email .dynamic,
.profile-user-information .display-userInformation .personalInformation .user-password .dynamic {
  color: rgb(122, 122, 122);
  font-weight: bold;
  font-size: 1.5rem;
  letter-spacing: 0.15rem;
}
.profile-user-information .display-userInformation .user-date-and-username {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.profile-user-information .display-userInformation .user-date-and-username .user-username {
  color: white;
  font-size: 2.5rem;
  font-weight: bold;
}
.profile-user-information .display-userInformation .user-date-and-username .user-date {
  font-size: 1.3rem;
  color: rgb(120, 120, 120);
  font-weight: bold;
}
.profile-user-information .userPersonalInformation,
.profile-user-information .userEmail,
.profile-user-information .userPassword {
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
.profile-user-information .userPersonalInformation h1,
.profile-user-information .userEmail h1,
.profile-user-information .userPassword h1 {
  color: white;
}
.profile-user-information .userPersonalInformation form,
.profile-user-information .userEmail form,
.profile-user-information .userPassword form {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section_game_homepage {
  width: 100%;
  padding: 6rem 0rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section_game_homepage h2 {
  color: white;
  font-size: 1.8rem;
  margin-bottom: 5rem;
}
.section_game_homepage .container_card_game_homepage {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 6rem;
  width: 80%;
}
.section_game_homepage .container_card_game_homepage .card_game_item_homepage {
  width: calc(25% - 6rem);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.section_game_homepage .container_card_game_homepage .card_game_item_homepage h3 {
  max-width: inherit;
  font-size: 1.3rem;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.section_game_homepage .container_card_game_homepage .card_game_item_homepage .container_card_game_img_homepage {
  max-width: 300px;
  max-height: 450px;
  margin-bottom: 0.3rem;
  transition: all 0.2s ease-in-out;
  border-radius: 10px;
  overflow: hidden;
}
.section_game_homepage .container_card_game_homepage .card_game_item_homepage .container_card_game_img_homepage img {
  width: 100%;
  object-fit: cover;
  background-position: center;
}
.section_game_homepage .container_card_game_homepage .card_game_item_homepage .container_card_game_img_homepage:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.section_game_homepage .container_card_game_homepage .card_game_item_homepage .container_name_price_game_home {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5rem;
}
.section_game_homepage .container_card_game_homepage .card_game_item_homepage .container_name_price_game_home p {
  font-size: 1.3rem;
  font-weight: 700;
  color: var(--color-red);
}

.container_banner_review {
  display: flex;
  width: 100%;
  background: var(--color-ultra-dark);
  color: var(--color-light-grey);
  justify-content: center;
  align-items: center;
  padding: 3rem 0rem;
}
.container_banner_review .list_banner_review {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}
.container_banner_review .list_banner_review .separator_banner_review {
  height: 80px;
  width: 2px;
  background: var(--color-light-dark);
}
.container_banner_review .list_banner_review .item_banner_review {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  padding: 1.5rem 0rem 1.5rem 4rem;
}
.container_banner_review .list_banner_review .item_banner_review:not(:first-child) {
  border-left: 2px solid grey;
}
.container_banner_review .list_banner_review .item_banner_review i {
  font-size: 2rem;
  color: var(--color-red);
}
.container_banner_review .list_banner_review .item_banner_review .container_content_banner_review {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.3rem;
}
.container_banner_review .list_banner_review .item_banner_review .container_content_banner_review h3 {
  font-size: 1.5rem;
  color: var(--color-white);
}
.container_banner_review .list_banner_review .item_banner_review .banner_review_trust {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
}
.container_banner_review .list_banner_review .item_banner_review .banner_review_trust .container_star_trustpilot {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
  align-items: center;
}
.container_banner_review .list_banner_review .item_banner_review .banner_review_trust .container_star_trustpilot span {
  font-size: 1.2rem;
  color: var(--color-white);
}
.container_banner_review .list_banner_review .item_banner_review .banner_review_trust .trust_star {
  font-size: 2rem;
}
.container_banner_review .list_banner_review .item_banner_review .banner_review_trust i {
  font-size: 1rem;
}
.container_banner_review .list_banner_review .item_banner_review .banner_review_trust .content_trust_banner-review {
  display: flex;
  flex-direction: column;
}

footer {
  background-color: var(--color-ultra-dark);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-container {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0rem 1rem 0rem;
}

.footer-top-left ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-weight: bold;
}
.footer-top-left li {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.footer-top-left li svg {
  fill: var(--color-red);
}
.footer-top-left li a {
  color: white;
  font-size: 1.2rem;
}
.footer-top-left li a:hover {
  color: var(--color-red);
}

.footer-top-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials-container {
  display: flex;
  gap: 1rem;
}
.socials-container a {
  padding: 1rem;
  height: 3.3rem;
  border-radius: 100%;
  width: 3.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.socials-container a svg {
  height: 1.8rem;
  fill: white;
}

.discord-social {
  background-color: rgba(87, 37, 253, 0.5);
}
.discord-social:hover {
  background-color: rgb(87, 37, 253);
}

.twitter-social {
  background-color: rgba(37, 170, 253, 0.5);
}
.twitter-social:hover {
  background-color: rgb(37, 170, 253);
}

.instagram-social {
  background-color: rgba(252, 0, 92, 0.5);
}
.instagram-social:hover {
  background-color: rgb(252, 0, 92);
}

.facebook-social {
  background-color: rgba(0, 60, 242, 0.5);
}
.facebook-social:hover {
  background-color: rgb(0, 60, 242);
}

.youtube-social {
  background-color: rgba(255, 0, 0, 0.5);
}
.youtube-social:hover {
  background-color: rgb(255, 0, 0);
}

.twitch-social {
  background-color: rgba(168, 7, 255, 0.5);
}
.twitch-social:hover {
  background-color: rgb(168, 7, 255);
}

.footer-bottom {
  padding: 1rem 0rem;
  display: flex;
  justify-content: center;
}
.footer-bottom p {
  font-size: 1.2rem;
  color: #c5c3c3;
  font-weight: bold;
}
.footer-bottom p a {
  text-decoration: none;
  color: white;
  text-decoration: none;
  font-weight: bold;
}
.footer-bottom p a:hover {
  text-decoration: underline;
}

.header_cart {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  background: var(--color-ultra-dark);
  color: white;
  padding: 2rem;
}
.header_cart a {
  color: white;
}
.header_cart .container_cart_step {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 600px;
}
.header_cart .container_cart_step .sub_container_cart_step {
  display: flex;
  align-items: center;
  width: 100%;
}
.header_cart .container_cart_step .sub_container_cart_step .cart_step_separator {
  height: 3px;
  width: 30px;
  background: var(--color-light-dark);
  flex: 1;
}
.header_cart .container_cart_step .sub_container_cart_step .cart_title_step {
  margin: 0 1rem;
}
.header_cart .container_cart_step .sub_container_cart_step .circle_step {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  border: 3px solid var(--color-light-dark);
  border-radius: 50%;
  height: 35px;
  width: 35px;
  font-size: 1rem;
}
.header_cart .container_cart_securised_paiement {
  display: flex;
  align-items: center;
  height: inherit;
}
.header_cart .container_cart_securised_paiement .container_cart_lock {
  display: flex;
}
.header_cart .container_cart_securised_paiement .container_cart_lock i {
  color: var(--color-light-green);
  margin: 1rem;
  font-size: 1.4rem;
}
.header_cart .container_cart_securised_paiement .container_cart_lock .cart_separator_securised_paiement {
  height: inherit;
  width: 2px;
  margin-right: 1rem;
  background: var(--color-light-dark);
}
.header_cart .container_cart_securised_paiement .cart_text_securised_paiement .second_text_cart_secured_paiement {
  color: var(--color-light-grey);
  margin-top: 0.2rem;
}

.container_section_cart {
  display: flex;
  max-width: 1200px;
  justify-content: space-between;
  align-items: center;
  height: 90vh;
  margin: auto;
}
.container_section_cart .container_cart_resume {
  display: flex;
  gap: 5rem;
}
.container_section_cart .container_cart_resume .cart_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--color-light-dark);
  flex: 1;
  padding: 4rem;
  border-radius: 10px;
}
.container_section_cart .container_cart_resume .cart_section i {
  font-size: 3rem;
  color: var(--color-red);
}
.container_section_cart .container_cart_resume .cart_section h3 {
  color: white;
  margin: 2rem 0;
}
.container_section_cart .container_cart_resume .cart_section p {
  color: var(--color-light-white);
  text-align: center;
}
.container_section_cart .container_cart_resume .cart_section button {
  margin: 2rem 0 0 0;
  background: inherit;
  outline: none;
  border: 1px solid var(--color-light-white);
  color: white;
  padding: 1rem 1.5rem;
  border-radius: 10px;
  font-size: 1rem;
}
.container_section_cart .container_cart_resume .cart_section button:hover {
  background: var(--color-red);
  cursor: pointer;
}
.container_section_cart .container_cart_resume .cart_section_resume {
  display: flex;
  width: 400px;
  flex-direction: column;
  background: var(--color-light-dark);
  padding: 2rem;
  border-radius: 10px;
  color: var(--color-light-white);
  font-size: 1.1rem;
  max-height: 280px;
}
.container_section_cart .container_cart_resume .cart_section_resume .cart_container_officiel_price {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.container_section_cart .container_cart_resume .cart_section_resume .cart_container_reduct_price {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}
.container_section_cart .container_cart_resume .cart_section_resume .cart_container_total_price {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0 2.5rem 0;
  color: white;
  font-size: 1.2rem;
}
.container_section_cart .container_cart_resume .cart_section_resume button {
  background: rgba(252, 0, 0, 0.7);
  padding: 1rem 1.5rem;
  border-radius: 10px;
  font-size: 1.2rem;
  border: 1px solid rgba(252, 0, 0, 0.7);
  color: white;
}
.container_section_cart .container_cart_resume .cart_section_resume button:hover {
  background: var(--color-red-hover);
  cursor: pointer;
  border: 1px solid white;
}

.categories-main-container {
  width: 100%;
  padding: 9rem 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.categories-main-container .categories-container {
  width: 80%;
  display: flex;
  justify-content: space-between;
  gap: 5rem;
  flex-wrap: wrap;
}
.categories-main-container .categories-container .categorie-container {
  width: calc(33% - 5rem);
  aspect-ratio: 2/1;
  border-radius: 0.5rem;
  background-color: purple;
  position: relative;
}
.categories-main-container .categories-container .categorie-container .categorie-container-text {
  position: absolute;
  display: flex;
  justify-content: center;
  background-color: black;
  color: white;
  padding: 0.5rem;
  font-weight: bold;
  font-size: 1.3rem;
  z-index: 3;
  bottom: 10%;
  left: 5%;
}
.categories-main-container .categories-container .categorie-container .categorie-container-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2;
}
.categories-main-container .categories-container .categorie-container .action {
  background-image: url("../../../public/assets/action.webp");
}
.categories-main-container .categories-container .categorie-container .adventure {
  background-image: url("../../../public/assets/adventure.jpg");
}
.categories-main-container .categories-container .categorie-container .arcade {
  background-image: url("../../../public/assets/arcade.jpeg");
}
.categories-main-container .categories-container .categorie-container .fps {
  background-image: url("../../../public/assets/fps.jpg");
}
.categories-main-container .categories-container .categorie-container .fighting {
  background-image: url("../../../public/assets/fighting.webp");
}
.categories-main-container .categories-container .categorie-container .rpg {
  background-image: url("../../../public/assets/RPG.webp");
}
.categories-main-container .categories-container .categorie-container .single-player {
  background-image: url("../../../public/assets/single-player.jpg");
}
.categories-main-container .categories-container .categorie-container .strategy {
  background-image: url("../../../public/assets/strategy.webp");
}
.categories-main-container .categories-container .categorie-container .vr {
  background-image: url("../../../public/assets/VR.jpg");
}

/*# sourceMappingURL=style.css.map */
