:root {
  --color-ultra-dark: #101010;
  --color-light-dark: #323232;
  --color-light-dark-mid_opacity: rgba(245, 245, 245, 0.1);
  --color-medium-dark: #272727;
  --color-light-grey: #5b5b5b;
  --color-red: #eb1905;
  --color-white: #ffffff;
  --color-red-hover: #b51506;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  min-height: 100vh;
}

:root {
  --color-ultra-dark: #101010;
  --color-light-dark: #323232;
  --color-light-dark-mid_opacity: rgba(245, 245, 245, 0.1);
  --color-medium-dark: #272727;
  --color-light-grey: #5b5b5b;
  --color-red: #eb1905;
  --color-white: #ffffff;
  --color-red-hover: #b51506;
}

.container_newGame_page {
  background: var(--color-medium-dark);
  color: var(--color-white);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container_newGame_page .container_newGame_Form .form_newGame {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 25rem;
  width: 40rem;
  border-radius: 10px;
}
.container_newGame_page .container_newGame_Form .form_newGame input {
  background: var(--color-ultra-dark);
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  border-radius: 10px;
  width: 20rem;
  height: 3rem;
  color: var(--color-light-grey);
  border: none;
  font-size: 1.1rem;
}
.container_newGame_page .container_newGame_Form .form_newGame input:focus {
  outline: none;
}
.container_newGame_page .container_newGame_Form .form_newGame input::-webkit-outer-spin-button,
.container_newGame_page .container_newGame_Form .form_newGame input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.container_newGame_page .container_newGame_Form .form_newGame input[type=number] {
  -moz-appearance: textfield; /* Firefox */
}
.container_newGame_page .container_newGame_Form .form_newGame .container_tags_newGame {
  display: flex;
  margin: 1.5rem 0 1rem 0;
}
.container_newGame_page .container_newGame_Form .form_newGame .container_tags_newGame .container_input_checkbox_newGame {
  display: flex;
  align-items: center;
  max-width: 6rem;
}
.container_newGame_page .container_newGame_Form .form_newGame .container_tags_newGame .container_input_checkbox_newGame input {
  height: 1rem;
  width: 1rem;
  margin-right: 0.3rem;
}
.container_newGame_page .container_newGame_Form .form_newGame .container_tags_newGame .container_input_checkbox_newGame label {
  margin-right: 1.2rem;
}
.container_newGame_page .container_newGame_Form .form_newGame button {
  width: 10rem;
  background: var(--color-red);
  height: 2.5rem;
  border-radius: 10px;
  color: white;
  font-size: 1.2rem;
  border: none;
}
.container_newGame_page .container_newGame_Form .form_newGame button:hover {
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  background: var(--color-red-hover);
}

.navbar_plateformes .search_on {
  background-color: var(--color-red) !important;
}
.navbar_plateformes .nav_container_all_plateformes {
  position: relative;
  width: 600px;
  background-color: rgba(135, 135, 135, 0.1);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-radius: 50px;
  display: flex;
  align-items: center;
  height: 4.2rem;
  justify-content: space-around;
  color: white;
}
.navbar_plateformes .nav_container_all_plateformes a {
  color: white;
}
.navbar_plateformes .nav_container_all_plateformes .nav_ico {
  margin-right: 0.5rem;
}
.navbar_plateformes .nav_container_all_plateformes .nav_nintendo_section {
  display: flex;
  align-items: center;
  margin-right: 3rem;
}
.navbar_plateformes .nav_container_all_plateformes .nav_nintendo_section .nintendo_img_container {
  height: 16px;
  width: 16px;
}
.navbar_plateformes .nav_container_all_plateformes .nav_nintendo_section .nintendo_img_container img {
  max-width: 100%;
}
.navbar_plateformes .nav_container_all_plateformes .nav_plateformes_search {
  position: absolute;
  right: -15px;
  border-radius: 50px;
  background: var(--color-red);
  height: inherit;
  width: 4.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.navbar_plateformes .nav_container_all_plateformes .nav_plateformes_search:hover > .gcs_search_nav {
  transition: 0.2s ease-in-out;
  transform: scale(1.4);
}

.nav_form_search {
  width: 100%;
  height: inherit;
  display: flex;
  align-items: center;
  padding: 1rem;
}
.nav_form_search .nav_input_search {
  border: none;
  outline: none;
  background: inherit;
  color: white;
  font-size: 1rem;
  font-weight: 400;
  width: 80%;
  padding-left: 0.5rem;
}
.nav_form_search ::placeholder {
  color: white;
}

.nav_advanced_search {
  font-size: 0.9rem;
  font-weight: 100;
  width: 30%;
}

.nav_plateformes_search_exit {
  position: absolute;
  right: -25px;
}
.nav_plateformes_search_exit:hover {
  color: var(--color-red);
  cursor: pointer;
  transform: scale(1.3);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: #272727;
}
header .logo_gcs {
  padding-left: 1rem;
  color: white;
}
header .container_header_log_card {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .container_header_log_card a {
  padding-right: 1rem;
  color: white;
}
header .container_header_log_card a i {
  font-size: 1.5rem;
}
header .userConnected-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
header .userConnected-menu svg {
  height: 1.5rem;
  fill: white;
}
header .userConnected-menu svg:hover {
  cursor: pointer;
  fill: var(--color-red);
}

:root {
  --color-ultra-dark: #101010;
  --color-light-dark: #323232;
  --color-light-dark-mid_opacity: rgba(245, 245, 245, 0.1);
  --color-medium-dark: #272727;
  --color-light-grey: #5b5b5b;
  --color-red: #eb1905;
  --color-white: #ffffff;
  --color-red-hover: #b51506;
}

.loginAndRegister-container {
  display: flex;
  height: 100vh;
}

.loginAndRegister-container-left {
  background-color: var(--color-light-dark);
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.loginAndRegister-form {
  display: flex;
  flex-direction: column;
  width: 40%;
  gap: 1.5rem;
}
.loginAndRegister-form input {
  background-color: var(--color-ultra-dark);
  border: 2px solid var(--color-medium-dark);
  border-radius: 0.5rem;
  height: 3rem;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  color: white;
}
.loginAndRegister-form input:hover {
  border-color: var(--color-red);
}
.loginAndRegister-form input:focus {
  outline: none;
  border-color: var(--color-red);
}
.loginAndRegister-form button {
  background-color: var(--color-red);
  border: none;
  border-radius: 0.5rem;
  height: 2.8rem;
  padding: 0.5rem;
  font-size: 1rem;
  color: white;
  font-weight: bold;
}
.loginAndRegister-form button:hover {
  cursor: pointer;
  background-color: var(--color-red-hover);
}

.login-registerLink {
  color: white;
}
.login-registerLink:hover {
  color: var(--color-red);
}

.loginAndRegister-container-right {
  background-image: url("../assets/wallpaper-login.jpg");
  position: relative;
  background-size: cover;
  background-position: center;
  width: 50%;
  height: 100vh;
}
.loginAndRegister-container-right svg {
  position: absolute;
  right: 3.5%;
  top: 3.5%;
  fill: white;
}
.loginAndRegister-container-right svg:hover {
  cursor: pointer;
  fill: var(--color-red);
}

.handle-email-register-error,
.handle-username-register-error,
.handle-emailAndPassword-login-error {
  font-weight: bold;
  color: rgb(241, 145, 145);
}

:root {
  --color-ultra-dark: #101010;
  --color-light-dark: #323232;
  --color-light-dark-mid_opacity: rgba(245, 245, 245, 0.1);
  --color-medium-dark: #272727;
  --color-light-grey: #5b5b5b;
  --color-red: #eb1905;
  --color-white: #ffffff;
  --color-red-hover: #b51506;
}

.profile-contentContainer {
  background-color: var(--color-medium-dark);
}

.profile-navbar {
  display: flex;
  gap: 1.5rem;
}
.profile-navbar li {
  color: white;
  font-weight: bold;
  border: none;
}
.profile-navbar li:hover {
  cursor: pointer;
  color: var(--color-red);
}
.profile-navbar .active {
  color: var(--color-red);
  border-bottom: 1px solid var(--color-red);
}

footer {
  background-color: var(--color-ultra-dark);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-container {
  width: 70%;
  display: flex;
  flex-direction: column;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0rem 1rem 0rem;
}

.footer-top-left ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-weight: bold;
}
.footer-top-left li {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.footer-top-left li svg {
  fill: var(--color-red);
}
.footer-top-left li a {
  color: white;
  font-size: 1.2rem;
}
.footer-top-left li a:hover {
  color: var(--color-red);
}

.footer-top-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials-container {
  display: flex;
  gap: 1rem;
}
.socials-container a {
  padding: 1rem;
  height: 3.3rem;
  border-radius: 100%;
  width: 3.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.socials-container a svg {
  height: 1.8rem;
  fill: white;
}

.discord-social {
  background-color: rgba(87, 37, 253, 0.5);
}
.discord-social:hover {
  background-color: rgb(87, 37, 253);
}

.twitter-social {
  background-color: rgba(37, 170, 253, 0.5);
}
.twitter-social:hover {
  background-color: rgb(37, 170, 253);
}

.instagram-social {
  background-color: rgba(252, 0, 92, 0.5);
}
.instagram-social:hover {
  background-color: rgb(252, 0, 92);
}

.facebook-social {
  background-color: rgba(0, 60, 242, 0.5);
}
.facebook-social:hover {
  background-color: rgb(0, 60, 242);
}

.youtube-social {
  background-color: rgba(255, 0, 0, 0.5);
}
.youtube-social:hover {
  background-color: rgb(255, 0, 0);
}

.twitch-social {
  background-color: rgba(168, 7, 255, 0.5);
}
.twitch-social:hover {
  background-color: rgb(168, 7, 255);
}

.footer-bottom {
  padding: 1rem 0rem;
  display: flex;
  justify-content: center;
}
.footer-bottom p {
  font-size: 1.2rem;
  color: #c5c3c3;
  font-weight: bold;
}
.footer-bottom p a {
  text-decoration: none;
  color: white;
  text-decoration: none;
  font-weight: bold;
}
.footer-bottom p a:hover {
  text-decoration: underline;
}

/*# sourceMappingURL=style.css.map */
